#container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: auto;
    gap: 50px;
    margin: auto;
}
#container>div{
    padding: 5%;
    font-weight: bold;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px; 
}
#container>div>button{
    padding: 2%;
    width: 100px;
    border-radius: 10px
}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration:underline;
}
